body {
    margin: 0;
    padding: 0;
    background-color: #111; /* Dark gray */
}

.border-container {
    position: fixed;
    top: 25px; /* 1 inch from the top */
    left: 25px; /* 1 inch from the left */
    right: 25px; /* 1 inch from the right */
    bottom: 25px; /* 1 inch from the bottom */
    border: 1px solid #999; /* Gray border */
    padding: 20px; /* Padding inside the border */
    overflow: auto; /* Enable scrolling if content exceeds border */
}

.content {
    color: #FFF;
    margin: 0;
}
p{
    color: white;
}
h1{
    color: white;
}
ul{
    list-style: none;
    position: absolute;
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    
}
ul li {
    margin-bottom: 5px;
}
ul li a {
    color: white;
    text-decoration: none;
    
}


