body {
    margin: 0;
    padding: 0;
    background-color: #511; /* Dark gray */
}

.border-container {
    position: fixed;
    top: 25px; /* 1 inch from the top */
    left: 25px; /* 1 inch from the left */
    right: 25px; /* 1 inch from the right */
    bottom: 25px; /* 1 inch from the bottom */
    border: 1px solid #999; /* Gray border */
    padding: 20px; /* Padding inside the border */
    overflow: auto; /* Enable scrolling if content exceeds border */
}

.content {
    color: #FFF;
    margin: 0;
}
h1{
    padding-top: 100px;
    font-size: 100px;
}
.navigator{
    background-color: red;
    position: absolute;
    left: 30px;
    color:aqua;
}

